{% extends "master.twig" %}
{% block content %}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">{{page.title|title}} <small>{{page.subtitle}}</small></a>
        <ul class="pure-menu-list">
            {% include 'components/navigation.twig' %}
        </ul>
    </div>
</div>
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Big Bold Text</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>
        <div class="pure-g">
            {% for view,params in views %}
                {% include view with params %}
            {% endfor %}
        </div>
    </div>
{% endblock %}